h2 AI技術の社会実装

h3 【キーワード】

p.center
	span.strong.nonsplit ソフトウェア工学，デザイン思考，AI社会実装，IoT，ビジネスモデリング，マーケティング，地域創生，文理融合

h3 【研究概要】

p
	span 急速に発展している
	span.strong ディープラーニング
	span や
	span.strong 強化学習
	span などの
	span.strong 人工知能(AI)技術を実社会に役立てる研究
	span を行っている。

p 次のような事例を研究・開発した。

ul
	li
		span.strong 画像認識技術
		span を用いた
		span.strong 防災目的の監視システム
	li
		span.strong 事業戦略
		span を踏まえた
		span.strong 価格設定の最適化技術