h2 若者の潜在能力を最大限引き出す教育

h3 【キーワード】

p.center
	span.strong.nonsplit ソフトウェア工学，デザイン思考，教育工学，文理融合，
	span.strong.nonsplit インストラクショナル・デザイン，共同研究型インターンシップ，徒弟制

h3 【研究概要〜解決アプローチ】

ul
	li
		span このためには
		span.strong 専門知識・技能の深化
		span と
		span.strong 問題解決能力の向上
		span が必要である
	li
		span 我々は
		span.strong 教育工学
		span とりわけ
		span.strong インストラクショナル・デザイン
		span の知見に基づき，
		span.strong 徒弟制による教育
		span が最も効果的だと考えている
	li
		span この目的で，
		span.strong 研究活動
		span と
		span.strong 就業体験・職業教育
		span を密に結合させた
		span.strong 共同研究型インターンシップ
		span を実施している

