h2
  span.heading Elixir(エリクサー)の基礎研究・開発
  span.heading &nbsp;
  img.heading src="resources/images/Official_Elixir_logo.png"

h3 【キーワード】

p.center.strong ソフトウェア工学，システムプログラミング，AI社会実装，IoT

h3 【研究概要〜背景】

ul
  li
  	span IoT・AIの普及に伴い，
  	span.strong 流通するデータ量が爆発的に増大する
  	span ことが予想される
  li
  	span また人手不足により
  	span.strong 高い生産性を追求する必要がある
  li
  	span これらの両立を図るべく，
  	span.strong 並列プログラミング言語 Elixir の処理系やライブラリをオープンソースソフトウェアとして整備する
