h2
  span.heading Elixir(エリクサー)の基礎研究・開発
  span.heading &nbsp;
  img.heading src="resources/images/Official_Elixir_logo.png"

h3 【キーワード】

p.center.strong ソフトウェア工学，システムプログラミング，AI社会実装，IoT

h3 【研究概要〜期待】

p Elixir に対する期待としては次のようなことが挙げられる。

ul
  li
  	span.strong Python に代わるハイパフォーマンス・コンピューティングや人工知能技術応用
  	span への期待
  li
  	span.strong Ruby に代わるウェブ・プログラミング
  	span への期待
  li
  	span.strong Javascript / WebAssembly との連携
  	span への期待
  li
  	span.strong C言語 / mruby に代わる組込みソフトウェア適用
  	span への期待
