h2
  span.heading Elixir(エリクサー)の基礎研究・開発
  span.heading &nbsp;
  img.heading src="resources/images/Official_Elixir_logo.png"

h3 【キーワード】

p.center.strong ソフトウェア工学，システムプログラミング，AI社会実装，IoT

h3 【研究概要〜研究内容】

p 本研究では次のようなことを行う。

ul
  li
  	span.span JITコンパイル・マルチCPU/GPUによる並列処理，高位合成によるFPGA駆動
  	span を目標とする処理系
  	span.strong ZEAM
  	span の研究開発
  li
  	span 処理系の性能を測定する
  	span.strong ベンチマークプログラム
  	span の整備
  li
  	span.strong 数値計算・機械学習関連ライブラリ
  	span の整備・高速化
  li
  	span.strong ウェブアプリサーバー Phoenix
  	span の整備・発展
