h2.center ザキ研10年ビジョン
h3.center 北九州市立大学 山崎 進
ol
  li.strong Elixirの基礎研究・開発
  li.strong 地域課題を解決するアプリのデザイン・開発
  li.strong 若者の潜在能力を最大限引き出す教育
  li.strong AI技術の社会実装
img.icon src="resources/images/ZACKY-3000.jpg"
